*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    border-bottom: 2px solid black;
}
nav{
    margin-top: 20px;
    display: inline;
    max-width: 500px;
    
}


nav ul{
    list-style-type: none;
    display: flex;
    float:right;
}

nav ul li{
    margin-top: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}