@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap" ;


*{
    margin: 0px;
    padding: 0px;
    border: 0;
}


body{
  background: rgb(250, 244, 210);
  font-family: 'Roboto', sans-serif;
}

header{
    padding: 32px;
    background: linear-gradient(to bottom right, rgb(245, 153, 110), rgb(241, 241, 14));
    border-bottom: 1px solid #eedcc1;
}


header div{
    text-align: center;
}

header div a{
    color: black;
    margin: 0px 15px;
    text-decoration: none;
    line-height: 28px;
    font-weight: bold;
    border-bottom: 2px solid rgb(221, 131, 12) ;
    
}

header div a:hover{
    color: white;
    transition: color 500ms;
}





